<!doctype html>
<html lang="en" style="overflow: hidden;"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/asserts/styles/Order/header.css" rel="stylesheet"/>
    <link href="/asserts/styles/Order/page.css" rel="stylesheet"/>
    <link href="/asserts/styles/Order/categories.css" rel="stylesheet"/>
</head>
<body>
<header th:replace="header::header"></header>

<button class="btn btn-outline-light " style="position: absolute;right: 10%;bottom: 20%" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="40" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2m3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6z"/>
    </svg>
</button>
<main>

    <div class="container rounded">

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 col-12 positions mt-0">
                <h2 class="categoryHead" style="background-color: #454545;">Нова позиція</h2>
                <form method="post" class="d-flex flex-column mt-3" th:object="${position}" action="/create/position" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" name="id" id="id"/>
                    <div class="row justify-content-center" style="height: fit-content;">

                        <div class="col-8 col-sm-6">

                            <div class="mb-3">
                                <label for="name" class="form-label">Назва</label>
                                <input type="text" name="name" id="name" class="form-control" th:field="*{name}"/>
                            </div>
                            <div class="mb-3">
                                <label for="weight" class="form-label">Вага</label>
                                <input type="text" name="weight" id="weight" class="form-control" th:field="*{weight}"/>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Ціна</label>
                                <input type="number" min="0" name="price" id="price" class="form-control" th:field="*{price}"/>
                            </div>

                            <div class="mb-3">
                                <label for="multipartFile" class="form-label">Зображення</label>
                                <input  name="multipartFile" id="multipartFile" class="form-control" type="file"/>
                            </div>

                            <div class="mb-3">
                                <label for="category" class="form-label">Категорія</label>
                               <select th:field="*{category}" name="category" id="category" class="form-control" style="color: black !important">
                                   <option  th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getName()}">

                                   </option>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-10 col-sm-6 flex-row justify-content-between align-self-center mt-3 mb-3">
                        <input type="submit" class="btn btn-outline-warning" style="align-self: center;color: white !important;" value="Зберегти"/>
                    </div>

                </form>


            </div>



        </div>
    </div>
    <div class="mb-auto positions mt-0 ms-1 offcanvas offcanvas-end" style="overflow: hidden;background-color: #202020;height: 100%" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">


        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close" style="position: absolute;top:10px;right:10px;z-index: 100;color: white !important;">
            X
        </button>

        <div style="position:sticky;top:0;background-color: #202020;height: fit-content;">
            <h2 class="text-center m-0" >Обрані</h2>
        </div>
        <div id="selected" style="height: 40%;overflow-y: scroll;" class="p-0">
            <div th:each="sel:${selectedIngs}" th:id="'item_'+${sel.getIngredient().getId()}" class="mb-2">
                <div class="w-100 row justify-content-center align-items-center m-0" >
                    <div class="col-3 p-0 ingName">
                        <span th:text="${sel.getIngredient().getName()}"></span>
                    </div>
                    <div class="col-5 p-0">
                        <button class="btn btn-outline-warning disable-dbl-tap-zoom" th:onclick="'changeAmount(-1,'+${sel.getIngredient().getId()}+',event)'" >-</button>
                        <input class="rounded-input amount" th:value="${sel.getAmount()}" th:id="'ing_'+${sel.getIngredient().getId()}" th:onfocusout="'changeAmount(null,'+${sel.getIngredient().getId()}+',event)'"/>
                        <button class="btn btn-outline-warning disable-dbl-tap-zoom" th:onclick="'changeAmount(1,'+${sel.getIngredient().getId()}+',event)'" >+</button>
                    </div>
                    <div class="col-2 p-0">
                        <select  th:id="'unit_'+${sel.getIngredient().getId()}" style="color: black !important" th:onchange="'updateUnits(event)'">
                            <option th:selected="${sel.getUnit().getId() == unit.getId()}" th:each="unit:${units}" th:value="${unit.getId()}" th:text="${unit.getUnitName()}" style="color: black !important"></option>
                        </select>
                    </div>
                    <div class="col-2 p-0 delButton" style="display: none">
                        <button type="button" class="btn btn-outline-danger ms-3" data-bs-toggle="modal" th:data-bs-target="'#removeModal_'+${sel.getId()}">
                            -
                        </button>

                    </div>


                </div>
            </div>
        </div>
        <div class="search d-flex justify-content-between align-items-center">

            <input id="ingsSearch" type="text" class="form-control" onchange="searchIngredient()"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search me-2 ms-2" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </div>
        <div id="others" style="height: 50%;overflow-y: scroll;">
            <div th:each="item:${ingredients}" class="ingHead">
                <h3 th:text="${item.getKey()}"></h3>
                <div class="ingredient" th:each="ing:${item.getValue()}" th:insert="fragments/_ingredient::ingredient(${ing},${units})"></div>
            </div>

        </div>
        <div class="py-3" style="position:sticky;bottom:0; height:fit-content;background-color: #202020;">
            <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#addIngredientModal">
                +
            </button>
        </div>

    </div>

    <div class="modal fade" id="addIngredientModal" tabindex="-1" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" onsubmit="addIngredient(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addIngredientModalLabel">Новий інгредієнт</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label class="form-label" for="ingName">Назва</label>
                            <input class="form-control"  type="text" name="ingName" id="ingName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="ingName">Категорія</label>
                            <select class="form-select" name="ingCategory" id="ingCategory">
                                <option th:each="cat:${ingsCategories}" th:text="${cat.getName()}" th:value="${cat.getId()}"></option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Скасувати</button>
                        <button type="submit" class="btn btn-outline-light">Додати</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

   async function changeAmount(amount, id, event) {

        let newAmount = getNewAmount(amount, id);
        let unit = document.getElementById('unit_' + id).value;

        let resp = await fetch('/position/addingredient/'+[[${currentPos}]],{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                amount:+newAmount,
                ingId:+id,
                unitId:unit
            })
        })
            .then(res=>res.text())
            .then(resp=>{
                if(resp){
                    console.log("New amount is "+resp);
                    if(+resp===0.0)
                        removeItem('item_'+id,"others", false);
                    else
                        addItem('item_'+id,"selected", true);
                }


            })
            .catch(err=>console.log(err));
    }

    function getNewAmount(amount,id){
        let elem = document.getElementById('ing_' + id);
        console.log(elem);
        if(amount == null && elem.value >=0){
            return elem.value;
        }
        else if(amount!=null){
            let newAmount = +elem.value + amount;
            if(newAmount>=0){
                elem.value = newAmount;
                return newAmount;
            }
        }
        return 0;
    }


   function removeItem(itemId, target, hideControl) {
       let temp;
       let elem = document.getElementById(itemId);
       if (elem.parentElement.id === "selected") {
           console.log("Item removed");
           temp = elem;
           elem.remove();
           document.getElementById(target).appendChild(temp);
           console.log(temp);
           temp.querySelector(".delButton").style.display = hideControl ? "none" : "block";
       }
   }

    function addItem(itemId, target, hideControl){
       console.log("add func");

       let temp;
        let elem = document.getElementById(itemId);

        if(elem.parentElement.parentElement.parentElement.id==="others" || elem.parentElement.id==="others"){
            console.log("Item added");
            temp = elem;
            elem.remove();
            document.getElementById(target).appendChild(temp);
            temp.querySelector(".delButton").style.display = hideControl ? "none" : "block";
        }




    }

    function updateItem(itemId){
        let temp;
        let elem = document.getElementById(itemId);
        temp = elem;
        // document.getElementById(target).appendChild(temp);
        // elem.append(temp);
        // elem.remove();
    }

    async function updateUnits(event){

       let id = event.target.id.split('_')[1];
       let unitId = event.target.value;

        let elem = document.getElementById('unit_' + id).value;
        if(elem){
            let resp = await fetch("/position/updateUnits?id="+id+'&unitId='+unitId,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                }
            })
                .then(res=>res.text())
                .then(resp=>{

                })
                .catch(err=>console.log(err));
        }
    }

   async function addIngredient(event){
       event.preventDefault();
       console.log(event);

       let name = document.getElementById('ingName').value;
       if(!name){
           return;
       }
       let category = document.getElementById('ingCategory').value;
       console.log(category);
       if(!category){
           return;
       }
       let resp = await fetch('/ingredient/create?name='+name+"&categoryId="+category,{
           method:'POST',
           headers:{
               'Content-Type':'application/json',
               'Accept':'application/json'
           }
       })
           .then(res=>res.text())
           .then(resp=>{
               document.getElementById('others').insertAdjacentHTML('beforeend',resp);
           })
           .catch(err=>console.log(err));
    }

   async function removeIngredient(id){
       let resp = await fetch('/ingredient/remove/' + id, {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           },
           body: id
       })
           .then(response => response.text())
           .then(res => {
               if(res){
                   document.getElementById('item_' + id).remove();
               }
           })
           .catch(error => console.log(error));

   }

   function searchIngredient(){
       let input = document.getElementById('ingsSearch');
       const elements = document.getElementsByClassName("ingredient");
       const headers = document.getElementsByClassName("ingHead");

       if(input.value===""){
           for (let el of elements){
               el.style.display = "block";
           }

       }
       else{
           for (const el of elements) {
               let name = el.querySelector('.ingName span').innerText;
                if(name.toLowerCase().includes(input.value.toLowerCase())){
                    el.style.display = "block";
                }else{
                    el.style.display = "none";
                }
           }


           // for (const head of headers){
           //     filterHeaders(head);
           // }


       }

       function filterHeaders(head){

           for (let el of head.children){
                console.log(el.tagName);
               if(el.tagName==="DIV" && el.style.display === "block"){
                   console.log(head.querySelector("h3").innerText + " has elements");
                   head.style.display = "block";
                   return;
               }
           }
           head.style.display = "none";


       }

   }
</script>

</body>
</html>