body{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

li{
    background-color: transparent !important;
    border: 0 !important;
}

li li:hover{
    background-color: #454545 !important;
}

input{
    color: black !important;
}

.list-group-item{
    border-radius: 15px;
}

.list-group-item.current,
.mobile-menu-item.current{
    background-color: #454545 !important;
}

.scrollbar::-webkit-scrollbar{
    display: none;
}

.scrollbar a{
    padding: 10px;
    border:1px solid #454545;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    white-space:nowrap ;


}

.scrollbar{
    margin-top:10px;
    margin-bottom: 10px;
}

.scrollbar a:first-child{
    margin-left: 0;
}

.scrollbar a:last-child{
    margin-right: 0;
}

.positions{

    border: 1px solid #454545;
    border-radius: 15px;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    /*height: 100%;*/
}

.positions::-webkit-scrollbar{
    display: none;
}


.positions>div{
    border-bottom: 1px solid #454545;
    padding-bottom:15px;
    padding-top:15px;
    grid-template-columns: 3fr 2fr 0.5fr 1fr;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
}



.positions div .image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.col-12.container:last-child{
    padding-bottom: 100px;
}

.col-12.container{
    margin-bottom: 20px;
}

.buttons{
    width: 50px;
    align-items: center;
}

.buttons a{
    margin-bottom: 10px;
}

.positions .container{
    padding-top:10px;
    justify-content: space-around;
    padding-bottom: 20px;
}

.positions .container:first-child{
    padding-top:10px;
}

.positions .container:last-child{
    /*margin-bottom: 0;*/
}

.order-position:last-child{
padding-bottom: 50px;
}

.amount-selector{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
}

.amount-selector .btn{
    margin: 0;
}

.amount-selector .amount{
    margin-left: 10px;
    margin-right: 10px;
}

.position span{
    color: #fffd9c !important;
}

.positions .container:hover{
    background-color: #454545;
}

.weight i{
    vertical-align: middle;
}

.searchbar{

    background-color: rgb(53, 52, 52);
    border:0;
    margin-bottom: auto;
}

.searchbar:focus{
    background-color: #454545;
    box-shadow: 0 0 0 .25rem rgb(53, 52, 52);
}



.categoryHead{
    text-align:center;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #454545;
    margin-bottom: 0;
}

.list-group-item.active{
    background-color: #d8d8d8 !important;
}

.list-group-item.active a{
    color: #454545 !important;
}

.mobile-menu-item.active{
    color: black !important;
}

.btn-outline-light:hover{
    color: black !important;
}


@media screen and (max-width:575px) {
    .orderBtn{
        margin-top:15px;
        padding-top:15px;
        border-top:1px solid #454545;
    }
    .preview>*{
        width: initial;
    }
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

#template{
    visibility: collapse;
    display: none;
}

.list-group-item:last-child:hover{
    background-color: #202020 !important;
}

.rounded-input{
    background-color: #454545;
    border:0;

    text-align: center;
    border-radius: 20px;
    height: 40px;
    color: white !important;
    outline: none;
}

.rounded-input:hover{
    border-radius: 20px;
    border: 0;
    outline: none;
}

.rounded-input:focus{
    border-radius: 20px;
    border: 1px solid #202020;
    outline: none;

}

.rounded-input.amount{
    width: 60px;
}


.order_block:last-child{
    padding-bottom: 100px;
}

.modal-content{
    background-color: #454545;
}

.color-square{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.color-square.selected{
    border:2px solid white;
}

#others>div:last-child{
    margin-bottom: 100px;
}


 .modal-backdrop{
     z-index: -10 !important;
 }


#shoppingFormBtnsMobile{
    position: absolute;
    bottom: 21%;
    right:3%;

    animation: slideBtn 0.5s ease-in-out both;
}

@keyframes slideBtn {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}


.shoppingBtnMobile{
    animation: slideOutBtn 0.5s ease-in-out alternate;
}

@keyframes slideOutBtn {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

body{
    padding: 0 !important;
}

.offcanvas{
    padding:0;
}

.order_block{
    position: relative;
    height: fit-content !important;
}

.popover-body{
    color:black !important;
}
