<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;" bis_skin_checked="1">
    <div class="dropdown" bis_skin_checked="1">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/asserts/img/logo.png" alt="logo" style="max-height: 50px;"/>
      </a>
      <ul class="dropdown-menu text-small shadow" style="">
        <li><a class="dropdown-item active" href="#" aria-current="page">Нове замовлення</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/create/position">Нова позиція</a></li>
        <li><a class="dropdown-item" href="#">Нова категорія</a></li>
        <li><a class="dropdown-item" href="#">Новий інгридієнт</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Аналітика</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center" bis_skin_checked="1">
      <div class="w-100 me-3" style="text-align: end">
        <a href="/" class="btn btn-outline-light" >Додому</a>
      </div>

      <div class="flex-shrink-0 dropdown" bis_skin_checked="1">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li>
            <form action="/logout" method="post" class="dropdown-item">
              <input type="submit" value="Вийти" class="btn"/>
            </form>

        </ul>
      </div>
    </div>
  </div>
</header>